<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=city.city%></title>
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/style-city.css" />
  </head>
  <body>
    <h1><%=city.city%></h1>
    <ul>
      <% city.weather.forEach((element)=>{ %>
      <li>
        <div class="icon">
          <img src="/static/<%= element.icon%>.png" alt="" class="img" />
        </div>
        <div class="degree">
          <span><%= element.temp%> &#8451;</span>
        </div>
        <div class="message">
          <%= element.message%>
        </div>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
